// Takes VCF of parents and simulates 5 generations of random mating with a population size of 100
// also takes in genetic map

initialize() {
	initializeSLiMOptions(nucleotideBased=T);
	length = initializeAncestralNucleotides("path/to/reference");
	defineConstant("L", length);
	initializeMutationTypeNuc("m1", 0.5, "f", 0.0);
	initializeMutationTypeNuc("m2", 0.5, "f", 0.0);
	m2.color = "red";
	m2.convertToSubstitution = F;
	initializeGenomicElementType("g1", m1, 1.0, mmJukesCantor(0.0));
	initializeGenomicElement(g1, 0, L-1);
	
	lines = readFile("Path/to/GeneticMap");
	rates = NULL;
	ends = NULL;
	
	for (line in lines)
	{
		components = strsplit(line, "\t");
		ends = c(ends, asInteger(components[1]));
		rates = c(rates, asFloat(components[2]));
	}
	
	ends = c(ends[1:(size(ends)-1)] - 2, length-1);
	rates = (rates+0.001) * 1e-8;
	initializeRecombinationRate(rates, ends);

}
1 late() {
	sim.addSubpop("p1", 20);
	p1.genomes.readFromVCF("Path/to/parents.vcf", m1);
	p1.setSubpopulationSize(100);
}
5 late() {
	g = p1.genomes;
	g.outputVCF("/Path/To/Output.vcf",simplifyNucleotides=F);
}

